.all {
  background-image: url("https://wallpaperaccess.com/full/640759.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
  margin: 0%;
  color: wheat;
  /* display: flex; */
}

.botonCarrito2 {
  margin-left: 110%;
  min-width: 130px;
  height: 40px;
  color: rgb(0, 0, 0);
  padding: 3px 3px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: none;
  background: rgba(255, 236, 236, 0.8);
  margin-bottom: 20px;
  margin-top: 2rem;
}

.botonCarrito2:hover {
  background-color: white;
}

.title {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(185, 173, 173);
}

.cards-container {
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s;
  margin: 0px 45px 45px 45px;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.divContainer:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 0rem 0.1875rem 0.375rem rgb(68, 63, 53);
}

.divContainer {
  width: 340px;
  height: 450px;
  background-color: rgba(169, 165, 170, 0.308);
  border-radius: 20px;
  transition: all 0.3s;
  margin: 0px 45px 45px 45px;
}

.nombre {
  margin-top: 5px;
  margin-bottom: 14px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 35px;
  color: white;
  text-align: center;
  align-items: center;
}

.especies {
  margin-top: 5px;
  margin-bottom: 14px;
  margin-left: 100px;
  font-weight: 600;
  font-size: 25px;
  color: white;
}

.peliculas {
  margin-top: 5px;
  margin-bottom: 14px;
  margin-right: 100px;
  font-weight: 600;
  color: white;
  font-size: 20px;
}

.precios {
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 95px;
  font-weight: 600;
  color: white;
}

.compra {
  margin-top: 5px;
  margin-bottom: 50px;
  margin-right: 100px;
  font-weight: 600;
  color: white;
  font-size: 20px;
}

.boton {
  margin-left: 60%;
  min-width: 130px;
  height: 40px;
  color: rgb(0, 0, 0);
  padding: 3px 3px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.589);
  margin-bottom: 20px;
  margin-top: 2rem;
}
