<div class="all">
  <!-- <table>
    <thead>
      <div class="botonCarrito">
        <button class="botonCarrito2" routerLink="/carrito">
          Ver mi carrito
        </button>
      </div>
      <div class="title">
        <h1>Bienvenido a la store de StarWars</h1>
      </div>
      <tr>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Películas</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters">
        <td>{{ character.name }}</td>
        <td>{{ character.species || "Human" }}</td>
        <td>
          <ul>
            {{
              character.films.join(", ")
            }}
          </ul>
        </td>
        <td>
          <select>
            <option value="USD$">USD$ {{ character.mass }}</option>
            <option value="€">€ {{ character.mass * 0.9 }}</option>
            <option value="AR$">AR$ {{ character.mass * 460 }}</option>
          </select>
          <button (click)="anadirProducto(character)">Añadir producto</button>
        </td>
        <td></td>
      </tr>
    </tbody> 
  </table>-->
  <thead>
    <div class="botonCarrito">
      <button class="botonCarrito2" routerLink="/carrito">
        Ver mi carrito
      </button>
    </div>
    <div class="title">
      <h1>Bienvenido a la store de StarWars</h1>
    </div>
    <div class="cards-container">
      <tr *ngFor="let character of characters">
        <div class="divContainer">
          <div class="nombre">
            <td>{{ character.name }}</td>
          </div>
          <div class="especies">
            <td>{{ character.species || "Human" }}</td>
          </div>
          <div class="peliculas">
            <td>
              <ul>
                {{
                  character.films.join(", ")
                }}
              </ul>
            </td>
          </div>

          <td>
            <div class="precios">USD$ {{ character.mass }}</div>
            <div class="compra">
              <button class="boton" (click)="anadirProducto(character)">
                Añadir producto
              </button>
            </div>
          </td>

          <td></td>
        </div>
      </tr>
    </div>
  </thead>
</div>
